<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Vue Js</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{title}}</p>
        <p>{{isItTrue}}</p>
        <p>{{cars[2]}},{{cars[1]}}</p>
        <p>{{robots.name}}</p>
        <p>{{greeting()}}</p>
        <br><br>
        <p>{{Testing()}}</p>
        <p>{{Demo()}}</p>
        <img v-bind:src="src" v-bind:alt="alt">
        <hr>
        <a v-bind:href="link" target="_blank">Click me</a>
        <hr>
        <p v-text="myText"></p>
        <p v-html="myHtml"></p>
        <hr>
        <p v-if="user.age >= user.greaterAge">You are looking so beautiful</p>
        <p v-else-if="user.name=='Nur'">my name is {{user.name}}</p>
        <p v-else>You are not looking good</p>
        <hr>
        <p v-if="changeUser()">Hello Nur</p>
        <p v-else>You are not looking good</p>
    </div>
<script src="app.js"></script>
</body>
</html>